---
import Layout from '../layouts/Layout.astro';
import AppMain from '../components/AppMain';
// Can't just have component
---
<Layout title="App | Mocka.io">
<main class="h-screen bg-white">
    <AppMain client:load />
</main>
</Layout>